.DS_Store
.bundle
.byebug*
.ruby-lsp
.prompts
.history
.devcontainer
.vscode
.serena
.claude
.yardoc
.*.json
.env*
*.env
*.log
*.txt
.ruby-version
dump.rdb
appendonlydir
data
log
tmp
vendor
*.gem
public/

# Ignore WIP or temp dev files with uppercase names
[A-Z]*.md

# Exclusions
!README.md
!CHANGELOG.md
!CLAUDE.md
!LICENSE.txt
