--readme README.md
--title "Familia Ruby Library Documentation"
--protected
--no-private
--verbose
--charset utf-8
--markup markdown
--markup-provider redcarpet
--output-dir public
--embed-mixin ClassMethods
--embed-mixin InstanceMethods
--embed-mixin Features
--tag feature:"Feature"
--tag since:"Since Version"
--tag note:"Note"
--tag warning:"Warning"
--tag deprecated:"Deprecated"
--tag abstract:"Abstract"
--tag security:"Security"
--hide-tag nodoc
--exclude lib/familia/version.rb
--readme README.md
--no-stats
--no-save
--no-cache
lib/**/*.rb
-
README.md
CHANGELOG.rst
LICENSE.txt
docs/guides/*
docs/reference/*
docs/migrating/*.md
docs/overview.md
examples/*.rb
